body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#current-track {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
